<div class="login-container">
  <img src="assets/Usuario-removebg-preview.png" alt="Imagen de fondo" class="background-image">

  <div class="login-box">
    <h2>Iniciar Sesión</h2>

    <div class="input-container">
      <label for="username"><i class="fas fa-user"></i> Usuario</label>
      <input type="text" id="username" placeholder="Ingresa tu usuario" />
    </div>

    <div class="input-container">
      <label for="password"><i class="fas fa-lock"></i> Contraseña</label>
      <input type="password" id="password" placeholder="Ingresa tu contraseña" />
    </div>

    <div class="remember-me">
      <input type="checkbox" id="remember" />
      <label for="remember">Recordarme</label>
    </div>

    <button class="login-btn">Iniciar sesión</button>
    <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
  </div>
</div>
