<div class="register-container">
  <img src="assets/Usuario-removebg-preview.png" alt="Imagen de fondo" class="background-image">

  <div class="form-container">
    <form class="register-form">
      <div class="input-container">
        <label for="identificacion"><i class="fas fa-user"></i> Identificación</label>
        <input type="text" id="identificacion" placeholder="Identificación" required>
      </div>
      <div class="input-container">
        <label for="confirma-identificacion"><i class="fas fa-user-check"></i> Confirmar identificación</label>
        <input type="text" id="confirma-identificacion" placeholder="Confirmar identificación" required>
      </div>
      <div class="input-container">
        <label for="contrasena"><i class="fas fa-lock"></i> Contraseña</label>
        <input type="password" id="contrasena" placeholder="Contraseña" required>
      </div>
      <div class="input-container">
        <label for="confirma-contrasena"><i class="fas fa-lock"></i> Confirmar Contraseña</label>
        <input type="password" id="confirma-contrasena" placeholder="Confirmar Contraseña" required>
      </div>
      <div class="input-container">
        <label for="nombres">Nombres</label> <input type="text" id="nombres" placeholder="Nombres" required>
      </div>
    </form>

    <form class="register-form">
      <div class="input-container">
        <label for="apellidos">Apellidos</label> <input type="text" id="apellidos" placeholder="Apellidos" required>
      </div>
      <div class="input-container">
        <label for="telefono"><i class="fas fa-phone"></i> Teléfono Móvil</label>
        <input type="tel" id="telefono" placeholder="Teléfono Móvil" required>
      </div>
      <div class="input-container">
        <label for="correo"><i class="fas fa-envelope"></i> Correo Electrónico</label>
        <input type="email" id="correo" placeholder="Correo electrónico" required>
      </div>
      <div class="terms">
        <input type="checkbox" id="terminos" required>
        <label for="terminos">Acepto términos y condiciones</label>
      </div>
      <button type="submit" class="create-btn">Crear cuenta</button>
    </form>
  </div>
</div>
